.body {
    display:flex;
    flex-direction: row;
    background-color: #c82323;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    gap: 10px 30px
}


.main {
    flex-grow: 2;
}